* {
  font-family: sans-serif;
  color: #424242;
}
.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 2px #eee;
  padding: 20px 15px;
}
#logo {
  cursor: pointer;
  margin-left: 200px;
}
.navbar-buttons {
  display: flex;
}
.navbar-buttons div {
  color: #666;
  margin-left: 20px;
  padding: 0 12.5px;
  font-size: 14px;
  cursor: pointer;
}
.navbar-buttons img {
  margin-left: 20px;
  padding: 0 12.5px;
  margin-right: 200px;
  cursor: pointer;
}

.main-content img,
.main-content h1,
.main-content h2,
#landing,
#button {
  display: flex;
  justify-content: center;
}
.main-content img {
  margin-top: 60px;
  margin-bottom: 30px;
}

.main-content h1 {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 50px;
}

.main-content h2 {
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 20px;
}
button {
  font-weight: 530;
  margin-top: 25px;
  background-color: #387ed1;
  border: none;
  color: white;
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 25ms;
}

button:hover {
  background-color: black;
}
